*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    src: url(fonts/Formula1-Bold_web_0.ttf);
    font-family: f1Bold;
}
@font-face {
    src: url(fonts/Formula1-Regular_web_0.ttf);
    font-family: f1Regular;
}
@font-face {
    src: url(fonts/Formula1-Wide_web_0.ttf);
    font-family: f1Wideweb;
}

.Container{
background-color: rgb(255, 255, 255);
height: 1041vh;
width: 100%;

}
.header{
    width: 100%;
    height: 51px;
    display: flex;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;

}

.fiaHlogo{
    width: 3%;
    margin-left: 26px;
}
.Vline{

        border-left: 1px solid rgba(122, 136, 122, 0.781);
        height: 27px;
        margin-left: 17px;
      
    
}
.Vline1{

        border-left: 1px solid rgba(122, 136, 122, 0.781);
        height: 27px;
        margin-left: 11px;
      
    
}
.Vline2{

        border-left: 1px solid rgba(122, 136, 122, 0.781);
        height: 27px;
        margin-left: 11px;
      
    
}


.F1HeaderContant1{
    margin-left: 11px;
    display: flex;
    align-items: center;
    font-family: f1Bold;
    font-size: 13px;
    cursor: pointer;
    color: #858080;
}

.F1HeaderContant1 h4 {
    margin-left: 21px; 
}

.f1h1{
    color: #000;
}
.f1h2:hover{
    color: #000;
}
.f1h3:hover{
    color: #000;
}
.f1h4:hover{
    color: #000;
}


.Pages{
    margin-left:111px;
}

ul{
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
}

li{
    list-style: none;
    position: relative;
    margin-left: 21px;
    font-family: f1Regular;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: rgba(51, 48, 44, 0.726);
    cursor: pointer;
}


.Pages li::after{
    content: '';
    position: absolute;
    background-color: rgba(233, 3, 3, 0.849);
    height: 3px;
    width:0;
    left: 0;
    bottom: -8px;

   
}

.Pages li:hover::after{
    width: 100%;
    color: rgba(233, 3, 3, 0.849);
}
.Pages li:hover{
    color: rgba(233, 3, 3, 0.849);
}

.f1tv{
    margin-left: 11px;
    width: 85px;
    cursor: pointer;
}
.signin{
    background-color: rgba(0, 0, 0, 0.733);
    margin-left: 11px;
    width: 85px;
    align-items: center;
    justify-content: center;
    height: 40px;
    color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
}
.subscribe{
    background-color:#E10600;
    margin-left: 11px;
    width: 90px;
    align-items: center;
    justify-content: center;
    height: 40px;
    color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
}
.signin p{
    margin-top: 11px;
    margin-left: 12px;
    font-family: f1Regular;
    font-size: 11px;
}
.subscribe p{
    margin-top: 11px;
    margin-left: 12px;
    font-family: f1Regular;
    font-size: 11px;
}
.userLogo{
    width: 11px;
    margin-right: 5px;
}

.secondHeader{
width: 100%;
height: 71px;
top: 50px;
background: #E10600;
position: fixed;
display: flex;
justify-content: center;
align-items: center;

z-index: 9000; 


}


.triangle{
    display: block;
    height: 0;
    width: 0;
    border: 9px solid transparent;
    border-top-color: #E10600;
    position: absolute;
    transform: rotate(180deg);
    left: calc(50% - 42%);
    bottom: 68px;
}




.SecondHF1img{
    width: 126px;
    margin-right: 1100px;
    position: absolute;
}
.Catogeries{
    align-items: center;
    display: flex;
}

.Catogeries div {
    margin-left: 38px;
    cursor: pointer;
    font-family: f1Regular;
    font-size: 13px;
    color: aliceblue;
    height: 72px;
    align-items: center;
    display: flex;
    transition: all 0.3s;
    transition: background-color 0.5s ease, opacity 0.5s ease; 
}

.Catogeries div:hover {
    background-color: #000000;
    opacity: 0.8;
}



/* LATEST HOVER */


.LatestHhover {
    display: none;
    opacity: 0;
    width: 100%;
    height: 100vh;
    background:  #000000ee;
    align-items: center;
    justify-content: center;
    position: fixed;
    transition: opacity 1.5s ease;
   margin-top: -3%;
    z-index: 1000;
}

.LatestHhovercontainer {
    background:  #00000000;
    width: 80%;
    height: 81vh;


}

.LatestHhover.show {
    display: flex;
    opacity: 1;
}

.LatestHhovercontainerPages{
    width: 100%;
    height: 37px;
}


.LatestHhovercontainerPages ul{
    height: 41px;
    width: 100%;
    display: flex;
    align-items: center;
}

.LatestHhovercontainerPages li{
    list-style: none;
    position: relative;
    margin-left: 21px;
    font-family: f1Regular;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}


.LatestHhovercontainerPages li::after{
    content: '';
    position: absolute;
    background-color: rgba(233, 3, 3, 0.849);
    height: 3px;
    width:0;
    left: 0;
    bottom: -5px;
   
}

.LatestHhovercontainerPages li:hover::after{
    width: 100%;
    color: rgba(233, 3, 3, 0.849);
}

.LatestHhovercontainerr{
    margin-top: 23px;
    width: 90%;
    height: 411px;

    display: flex;
}
.LatestHhovercontainernews{
    margin-bottom: 2113px;
    width: 30%;
    height: 411px;

    display: flex;
}

.LatestHhovercontainertopics{
    margin-bottom: 2113px;
    width: 70%;
    height: 411px;
  
}
.LatestHovernews1{
    width: 100%;
    height: 411px;

}

.LatestHovernews2{
    width: 100%;
    height: 190px;

    display: flex;
}
.imgandnews{
    width: 75%;
}
.imgandnews img{
    width: 91%;
    border-radius: 7px;
}
.imgandnews p{
    margin-bottom: 5px;
    margin-left: 1px;
    font-size: 17px;
    font-family: f1Bold;
    font-size: 600;
    color: white;
}

.LatestHovernews3{
    width: 100%;
    height: 140px;
    display: flex;
}
.newscontant{
    width: 80%;
}
.newscontant p {
    font-size: 13px;
    font-family: f1Bold;
    font-size: 100;
    color: white;
    margin-top: 6px;
}

.newscontant h5 {
    font-size: 6px;
    font-family: f1Regular;
    font-size: 100;
    color: white;
    margin-top:8px;

}




.topicheadline{
    width: 100%;
    height: 23px;
    margin-top: 21px;

}
.topicheadline p{
    font-size: 13px;
    font-family: f1Bold;
    font-size: 100;
    color: white;
    margin-top: 3px;
    margin-left: 13px;
}

.LatestHhovercontainertopics {
    display: flex;
    flex-wrap: wrap; 
    height: 328px;
}

.topimgs {
    display: flex;
    flex-wrap: wrap; 
}

.topimgs  div {
    flex: 1 0 31.32%; 
    box-sizing: border-box; 

    object-fit: cover;
    border-radius: 11px;
    margin: 3px;
    position: relative;
    
  
    
}
.imgtop{
    width: 110px;
    height: 111px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgtop img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.3s;
    cursor: pointer;
    filter: brightness(0.8);
    
    
}
.imgtop p{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 1;
    color: white;
    font-family: f1Regular;
    cursor: pointer;
}
.imgtop:hover p{
    font-family: f1Bold;
}
.imgtop:hover img {
    
    transform: scale(1.2);
    filter: brightness(1);

}




/* SCHEDULE HOVER */

.ScheduleHhover {
    display: none;
    opacity: 0;
    width: 100%;
    height: 100vh;
    background:  #000000ee;
    align-items: center;
    justify-content: center;
    position: fixed;
    transition: opacity 1.5s ease;
    margin-top: -3%;
    z-index: 1000;
}

.ScheduleHhovercontainer {
    background:  #00000000;
    width: 80%;
    height: 81vh;
}

.ScheduleHhover.show {
    display: flex;
    opacity: 1;
}


.ScheduleHhovercontainerPages{
    width: 100%;
    height: 37px;
}


.ScheduleHhovercontainerPages ul{
    height: 41px;
    width: 100%;
    display: flex;
    align-items: center;
}

.ScheduleHhovercontainerPages li{
    list-style: none;
    position: relative;
    margin-left: 21px;
    font-family: f1Regular;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}


.ScheduleHhovercontainerPages li::after{
    content: '';
    position: absolute;
    background-color: rgba(233, 3, 3, 0.849);
    height: 3px;
    width:0;
    left: 0;
    bottom: -5px;
   
}

.ScheduleHhovercontainerPages li:hover::after{
    width: 100%;
    color: rgba(233, 3, 3, 0.849);
}

.ScheduledRaces{
margin-top: 17px;

width: 100%;
height: 51vh;
display: flex;

}
.ScheduledRaces1{
    width: 251px;
    height: 281px;

    margin-left: 6px;
}
.ScheduledRaces2{
    width: 251px;
    margin-left: 11px;
    height: 281px;
}
.Racesimg{
    width: 100%;
    height: 147px;
    background: #b95d5d;
    object-fit: cover;
    overflow: hidden;
    margin-top: 4px;
    cursor: pointer;
    filter: brightness(1);
}
.Racesimg img{
    transition: all 0.3s;
}
.Racesdescription
{
    color: white;
    margin-top: 11px;
    font-family: f1Bold;
    font-size: 12px;
}
.Racetime p{
    color: white;
    margin-top: 30px;
    font-family: f1Regular;
    font-size: 11px; 
}
.Racesimg:hover img{
    transform: scale(1.1);
    filter: brightness(1);
}


.ScheduledRaces1 img{
    width: 100%;
    object-fit: cover;

    height: 100%;
}
.ScheduledRaces2 img{
    width: 100%;
    height: 100%;
}
.ScheduleTextLine{
    color: white;
    font-family: f1Bold;
    font-size: 16px;

}

.Racetime1{
    color: white;
    margin-top: 16px;
    font-family: f1Regular;
    font-size: 11px;
}

























/* RESULTS HOVER */

.ResultsHhover {
    display: none;
    opacity: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    align-items: center;
    justify-content: center;
    position: fixed;
    transition: opacity 1.5s ease;
    margin-top: -3%;
    z-index: 1000;
}

.ResultsHhovercontainer {

    width: 80%;
    height: 81vh;
}

.ResultsHhover.show {
    display: flex;
    opacity: 1;
}


.ResultsHhovercontainerPages{
    width: 100%;
    height: 37px;
}


.ResultsHhovercontainerPages ul{
    height: 41px;
    width: 100%;
    display: flex;
    align-items: center;
}

.ResultsHhovercontainerPages li{
    list-style: none;
    position: relative;
    margin-left: 21px;
    font-family: f1Regular;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}


.ResultsHhovercontainerPages li::after{
    content: '';
    position: absolute;
    background-color: rgba(233, 3, 3, 0.849);
    height: 3px;
    width:0;
    left: 0;
    bottom: -5px;
   
}

.ResultsHhovercontainerPages li:hover::after{
    width: 100%;
    color: rgba(233, 3, 3, 0.849);
}


/* DRIVER HOVER */

.DriversHhover {
    display: none;
    opacity: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    align-items: center;
    justify-content: center;
    position: fixed;
    transition: opacity 1.5s ease; 
    margin-top: -3%;
    z-index: 1000;
}

.DriversHhovercontainer {

    width: 80%;
    height: 81vh;
}

.DriversHhover.show {
    display: flex;
    opacity: 1;
}




.DriversHhovercontainerPages ul{
    height: 41px;
    width: 100%;
    display: flex;
    align-items: center;
}

.DriversHhovercontainerPages li{
    list-style: none;
    position: relative;
    margin-left: 21px;
    font-family: f1Regular;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}


.DriversHhovercontainerPages li::after{
    content: '';
    position: absolute;
    background-color: rgba(233, 3, 3, 0.849);
    height: 3px;
    width:0;
    left: 0;
    bottom: -5px;
   
}

.DriversHhovercontainerPages li:hover::after{
    width: 100%;
    color: rgba(233, 3, 3, 0.849);
}

.Driverrs {
    display: flex;
    flex-wrap: wrap; 
    overflow: hidden;
}

.driverrre {
    flex: 1 0 auto; 
    margin: 5px;
    flex-basis: calc(25% - 10px); 
    max-width: calc(25% - 10px); 
    height: 41px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    font-size: 13px;
    cursor: pointer;
}



.drivercolr{
    width: 5px;
    height: 15px;
    color: rgb(12, 17, 17);
    background-color: rgb(126, 94, 53);
    display: flex;
    position: absolute;
    margin-right: 161px;
}
.driverrre p{
   font-family: f1Regular;
}
.driverrre h5{
    font-family: f1Bold;
    margin-left: 4px;
}

.driverrre span{
    margin-left: 8px;
    font-family: f1Bold;
}










/* TEAMS HOVER */

.TeamsHhover {
    display: none;
    opacity: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    align-items: center;
    justify-content: center;
    position: fixed;
    transition: opacity 1.5s ease;
    margin-top: -3%;
    z-index: 1000;
}

.TeamsHhovercontainer {
    width: 80%;
    height: 81vh;
}

.TeamsHhover.show {
    display: flex;
    opacity: 1;
}


.TeamsHhovercontainerPages ul{
    height: 41px;
    width: 100%;
    display: flex;
    align-items: center;
}

.TeamsHhovercontainerPages li{
    list-style: none;
    position: relative;
    margin-left: 21px;
    font-family: f1Regular;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}


.TeamsHhovercontainerPages li::after{
    content: '';
    position: absolute;
    background-color: rgba(233, 3, 3, 0.849);
    height: 3px;
    width:0;
    left: 0;
    bottom: -5px;
   
}

.TeamsHhovercontainerPages li:hover::after{
    width: 100%;
    color: rgba(233, 3, 3, 0.849);
}



.Teamscontainer {
    display: flex;
    flex-wrap: wrap; 
    overflow: hidden;
}
.Teamscontainer {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.Teammm {
    position: relative;
    flex: 1 0 auto;
    margin: 5px;
    flex-basis: calc(25% - 10px);
    max-width: calc(25% - 10px);
    height: 101px;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.Teammm img {
    width: 100%;
    margin-top: 41px;
    height: auto; 
}

.TeamName {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px; 
    color: white;

    display: flex;
}

.TeamName p {
    margin: 0;
    font-family: f1Regular;
    font-size: 13px;
}

.TeamName span {
margin-left: 151px;
font-family: f1Regular;
}















/* GAMING HOVER */
.GamingHhover {
    display: none;
    opacity: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    align-items: center;
    justify-content: center;
    position: fixed;
    transition: opacity 1.5s ease;
    margin-top: -3%;
    z-index: 1000;
}

.GamingHhovercontainer {
    width: 80%;
    height: 81vh;
}

.GamingHhover.show {
    display: flex;
    opacity: 1;
}




.GamingHhovercontainerPages ul{
    height: 41px;
    width: 100%;
    display: flex;
    align-items: center;
}

.GamingHhovercontainerPages li{
    list-style: none;
    position: relative;
    margin-left: 21px;
    font-family: f1Regular;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}


.GamingHhovercontainerPages li::after{
    content: '';
    position: absolute;
    background-color: rgba(233, 3, 3, 0.849);
    height: 3px;
    width:0;
    left: 0;
    bottom: -5px;
   
}

.GamingHhovercontainerPages li:hover::after{
    width: 100%;
    color: rgba(233, 3, 3, 0.849);
}





.MainPageContainer{
    width: 100%;
    height: 311vh;
}
.featureNewsContainer{
    width: 100%;
    height: 97vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 9.6%;
}
.featureNewsContainer1{
    width: 80%;
    height: 97vh;
    display: flex;

}
.Featuress{
    background: #E10600;
    width: 48%;
    height: 84.6vh;
    margin-top: 68px;
    border-top-right-radius: 31px; 
    cursor: pointer;


}
.Featuress1{
    background: #ffffff;
    width: 98.2%;
    height: 84vh;
    border-top-right-radius: 29px; 
    margin-top: 10px;
    cursor: pointer;
}
.HeadlineFeature p{
    width: 100%;
    padding: 11px 0px 0px;
    top: 171px;
    font-size: 11px;
    font-family: f1Regular;
    color: red;
}
.Featurnewwss p{
    font-size: 32px;
    margin-top: 8px;
    font-family: f1Bold;
    color: #000;
}
.Featurnewwss a {
    text-decoration: none;
    color: #000;
}

.Featuress1:hover a {
    text-decoration: underline; 
}
.Featuress1:hover img {
    transform: scale(1.1);
}
.featurimg img{
    width: 100%;
    object-fit: cover;
    transition: all 0.3s;
}
.featurimg{
    margin-top: 11px;
    width: 95%;
    height: 40vh;
    overflow: hidden;
}


.FeaturesNews{
    width: 50%;
    height: 97vh;
    overflow: auto;
}
.FeaturesNews::-webkit-scrollbar {
    display: none;
}


.FeaturesNews1 {
    width: 100%;
    height: 97vh;
    margin-top: 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.newss {
    margin-top: 11px;
    margin-left: 8px;
    width: calc(46% - 1px);
    height: 281px;
    margin-bottom: 5px; 
    background-color: #b4adadbd;
    border-bottom-right-radius: 41px;
    cursor: pointer;

}
.newssimg img{
    width: 100%;
    object-fit: cover;
    transition: all 0.3s;
}


.newssimg{
    background-color: #858080;
    width: 100%;
    height: 131px;
    overflow: hidden;
}
.newssfeaturees{
    width: 100%;
    height: 100%;

}
.newssfeaturees1{
    border-bottom-right-radius: 40px;
    background-color: rgb(253, 253, 253);
    width: 99.6%;
    height: 53.1%;

}

.newss:hover {
    background-color: #ff0101;
}
.newss:hover img{
    transform: scale(1.1);
}
.newssfeaturees h5{
    color: #f11313;
    padding-top: 15px;
    font-family: f1Regular;
    font-size: 9px;
}
.newssfeaturees p{
    padding-top: 5px;
    font-family: f1Regular;
    font-size: 13px;
}

.btnn{
    margin-top: 11px;
    width: 180px;
    height: 47px;
    background: red;
    margin-left: 10px;
    display: flex;
     justify-content: center;
    align-items: center;
    border-radius: 9px;
    border: 2px solid #ff0000;
    font-family: f1Regular;
    font-size: 11px;
    color: white;
    cursor: pointer;
}
.btnn span{
    margin-left: 11px;
    font-family: f1Bold;
}
.btnn:hover{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.watchNowMainContainer{
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.watchNowContainer{
    width: 80%;
    height: 65vh;
    background-color: #4b1287;
    border-top-right-radius: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 41px;
}
.watchContainer{
    width: 99.2%;
    height: 61vh;
    background-color: #ffffff;
    border-top-right-radius: 31px;
    margin-right: 10px;
    margin-top: 1px;
    border-bottom-right-radius: 31px;
}
.watchContainer2{
    width: 98%;
    height: 55vh;
    background-color: #994444;
    border-top-right-radius: 11px;
    margin-right: 15px;
    margin-top: 15px;
    border-bottom-right-radius: 11px;
    display: flex;
}

.watchcontainertext{
    width: 50%;
    height: 55vh;
    background-color: #4b1287;
}
.watchcontainerimg{
    width: 50%;
    border-bottom-right-radius: 11px;
    border-top-right-radius: 11px;
    height: 55vh;     

}
.watchcontainerimg img{
width: 100%;
border-bottom-right-radius: 11px;
border-top-right-radius: 11px;
height: 100%;

}
.watchhnowbtn{
    width: 111px;
    height: 41px;
    cursor: pointer;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6%;
    margin-top: 11px;
    margin-left: 19px;
    font-family: f1Regular;
    font-size: 11px;
}

.watchcontainertext h4{
font-family: f1Bold;
color: white;
font-size: 35px;
margin-left: 19px;
margin-top: 21px;

}
.watchcontainertext p{
font-family: f1Regular;
color: white;
font-size: 13px;
margin-left: 19px;
margin-top: 11px;

}

.editorsPickMainContainer{
    width: 100%;
    height:110vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editorsPickContainer{
    width: 80%;
    height: 100vh;
    background-color: #f11313;
    border-bottom-right-radius: 41px;
    border-top-right-radius: 41px;
    display: flex;
}
.editorsPick{
    width: 98.9%;
    height: 96%;
    background-color: #ffffff;
    margin-top: 11px;
    border-bottom-right-radius: 31px;
    border-top-right-radius: 31px;
}
.editorsPickLeft{
    width: 22%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    margin-top: -32px;
}
.editorsPickLeft p{
    font-family: f1Bold;
    font-size: 25px;
    margin-top: 11px;
}
.editorsPickRight{
    width: 45%;
    height: 96.1vh;
    margin-top: -50%;
    margin-left: 53%;
    border-bottom-right-radius: 31px;
    border-top-right-radius: 31px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.editorsPickRightnews1{
    margin-top: 45px;
    margin-left: 5px;
    margin-right: 12px;
    width: 46%; 
    height: 270px;
    background-color: #858080;
    color: white;
    border-bottom-right-radius: 31px;
    cursor: pointer;
}

.editorsPickRightnews2{
    margin-left: 9px;
    margin-right: 15px;
    width: 44%; 
    height: 170px;
    background-color: #858080;
    margin-left: 11px;
    color: white; 
    border-bottom-right-radius: 31px;
    cursor: pointer;
}
.editorsPicknewimg{
    width: 100%;
    height: 45%;
    background: #000;
    overflow: hidden;
}
.editorsPicknewimg img{
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}
.editorsPickRightnews1:hover img{
    transform: scale(1.1);
}
.editorsPickRightContants{
    width: 99.6%;
    height: 54.7%;
    background-color: #fcfcfc;
    border-bottom-right-radius: 30px;
    color: #000;
}
.editorsPickRightContants h5{
    font-family: f1Regular;
    font-size: 9px;
    padding-top: 15px;
    margin-left: 15px;
    color: #fb0000;
}
.editorsPickRightContants p{
    font-family: f1Regular;
    font-size: 13px;
    padding-top: 9px;
    margin-left: 15px;
}



.editorsPickRightnews1:hover {
background-color: #fb0000;
}
.editorsPickRightnews2:hover {
background-color: #fb0000;
}


.editorspickbottomnews{
    width: 99.6%;
    background-color: #ffffff;
    border-bottom-right-radius: 30px;
    height: 99.5%;
}

.editorspickbottomnews h5{
    font-family: f1Regular;
    font-size: 9px;
    padding-top: 15px;
    margin-left: 15px;
    color: #fb0000;
}

.editorspickbottomnews p{
    font-family: f1Regular;
    font-size: 13px;
    padding-top: 9px;
    margin-left: 15px;
    color: black;
}



.moreNewsMainContainer{
    background-image: url(assests/bgf1.jpg);
    width: 100%;
    height: 135vh;
    background-color: #000;
margin-top: 191px;
display: flex;
align-items: center;
justify-content: center;

}

.moreNewsContainer{
    width: 80%;
    height: 159vh;
    margin-top: -131px;
    cursor: pointer;
}

.moreNewstitleContainer{
    width: 100%;
   height: 60px;
   background-color: #ffffff;

}
.moreNewstitleContainer h5{
    font-family: f1Bold;
    font-size: 25px;
    padding-top: 11px;
}
.moreNewstitleContainer span{
    font-family: f1Regular;
    color: red;
}
.moreNewContainterLine{
    width: 100%;
    height: 12px;
    background-color: #000000;
}

.moreNewsContainerNews{
    width: 100%;
    height: 144vh;
    margin-top: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.moreNewsContainerNews1{
    width: 48%;
    height: 365px;
    border-bottom-right-radius: 21px;
    border-bottom-left-radius: 21px;
}
.moreNewssContainerimg{
    width: 100%;
    height: 49vh;
    overflow: hidden;
}
.moreNewssContainerimg img{

    width: 100%;
    height: 100%;
    transition: all 0.3s;
}
.moreNewsContainerNews1:hover img{
    transform: scale(1.1);
}
.moreNewssContainerContant{
    width: 100%;
    height: 27%;
    background-color: #ffffff;
    border-bottom-right-radius: 21px;
    border-bottom-left-radius: 21px;
}

.moreNewssContainerContant h5{
    font-family: f1Regular;
    font-size: 11px;
    margin-left: 11px;
    padding-top: 11px;
}
.moreNewssContainerContant p{
    font-family: f1Regular;
    font-size: 12px;
    margin-left: 11px;
    padding-top: 11px;
}
.moreNewsContainerNews1:hover .moreNewssContainerContant{
    background-color: black;
    color: white;

}

.raceTimessMainContainer{
    width: 100%;
    height: 111vh;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #15151E;
}
.raceTimess{
    width: 15%;
    height: 94%;
    background-color: #565660;
    margin-left: 5px;
    display: flex;
    transition: all 0.2s;
    border-bottom-right-radius: 21px;


}
.raceTimess:hover{
    width: 70%;
}

.raceTimess:hover .raceTimeCountryimgContainer{
    margin-top:25px;
    
}
.raceTimess:hover .raceTimeCountryimg{
     width: 10%;
    height: 55%;
}
.raceTimeCountryimgContainer{
    width: 100%;
    height: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 155px;
    transition: all 0.3s;
}
.raceTimeCountryimg{
    width: 25%;
    height: 50%;
    object-fit: cover;
}
.raceTimeCountryimg img{
    width: 100%;
    height: 100%;
    border-radius: 11px;
}
.raceTimeCountryName{
    font-family: f1Bold;
    color: rgba(255, 255, 255, 0.742);
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.raceTimess2{
    background-color: #15151E;
    width: 99.7%;
    height: 99.8%;
    border-bottom-right-radius: 21px;
    cursor: pointer;
}
.raceDate {
    width: 100%;
    height: 11vh;
    transition: all .3s ease-in-out;
}

.raceTimess:hover .raceDate {
    transform: translateY(100%);
    opacity: 0;
    transition: all .3s ease-in-out;
}


.raceDate1 {
    display: flex; 
    width: 100%;
    height: 9vh;
    align-items: center;
    justify-content: center;
    font-family: f1Bold;
    color: white;
    font-size: 29px;
}

.raceMonth{
    display: flex; 
    width: 100%;
    height: 4vh;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-family: f1Bold;
    color: white;

}


.raceTimess:hover .raceTimeTitle{
    display: flex;

}
.raceTimess:hover .racedateee{
    display: flex;

}
.raceTimeTitle{
    display: none;
    width: 100%;
    height: 13vh;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: f1Bold;
    font-size: 18px;
}

.racedateee {
    width: 100%;
    height: 5vh;
  display: none;
  justify-content: center;
  align-items: center;
  color: rgb(156, 147, 147);
  font-family: f1Regular;
  font-size: 12px;
}

.racerolextime{
    margin-top: 21px;
    width: 100%;
    height: 20vh;
    background-color: #006341;
    border-radius: 16px;
    display: none;
    justify-content: center;
    align-items: center;
}

.raceTimess:hover .racerolextime{
    display: flex;

}


.racerolextime img{
    width: 13%;
    margin-right: 51px;
}
.rolexlivetime{
    width: 20%;
    height: 111px;
}
.rolexlivetime1{
    width: 100%;
    height:50%;
   font-size: 11px;
   font-family: f1Bold;
   padding-top: 15px;
   padding-left: 29px;
   color: rgba(255, 255, 255, 0.74);
   
}

.raceTimess:hover .racetimeCalender{
    display: flex;

}
.synccalendartitles{
    width:65%;
    display: flex;
}
.rolexlivetime2{
    width: 100%;
    height:50%;
    font-size: 11px;
    font-family: f1Bold;
    padding-top: 15px;
    padding-left: 29px;
    color: rgba(255, 255, 255, 0.74);
}
.racetimeCalender{
    width: 100%;
    height: 185px;
    margin-top: -49px;
    display: none;
}
.racetimeCalender1{
    width: 49%;
    height: 100%;
}

.synccalendar1{
    width: 98%;
    height: 8vh;
    margin-left: 3px;
    display: flex;
    font-family: f1Bold;
    margin-top: 2px;
    align-items: center;
    color: white;
}
.synccalendar1 h2{
    margin-left: 20px;
    font-size: 12px;

}
.synccalendar1 h3{
    margin-left: 15px;
    font-size: 11px;

}
.racetimeDuration{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    width: 30%;
    height: 15px;
    background-color: #ffffff71;
    border-radius: 11px;
    font-family: f1Regular;
}
.racetimesynccalendar{
    width: 99%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    font-family: f1Regular;
    font-size: 12px;
    border: 1.5px solid rgba(255, 255, 255, 0.801);
    color: rgba(255, 255, 255, 0.858);
    cursor: pointer;
}
.racetimesynccalendar:hover{
    border: 1.9px solid rgb(255, 255, 255);
    color: white;
}

.driversConstructorsLastrace{
    width: 100%;
    height: 11vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: f1Regular;
    font-size: 13px;
    color: black;
    cursor: pointer;
}
.vline{
    width: 2px;
    height: 40%;
    background-color: #000000a2;
    margin-right: 13px ;
    margin-left: 13px ;
    
}


.driversConstructorsLastrace .nowdriver{
    width: 65px;
    height: 2.4px;
    background: #ff0000;
    top: 11px;
}

.leadingDriversMainContainer{
    width: 100%;
    height: 197vh;
}
.leadingDrivertopContainer{
    width: 100%;
    height: 55vh;
    background-color: #343341;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leadingDrivertopContainer h4{
    color: white;
    font-size: 28px;
    font-family: f1Bold;
    margin-top: -63px;
    margin-left: 25px;
}
.leadingDriversContainer{
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F3F3;
}
.leadingDriver2{
    width: 270px;
    height: 245px;
    background-color: #ffffff;
    margin-left: 41px;
    border-radius: 20px;
    margin-top: -120px;
}
.leadingDriver1{
    width: 290px;
    height: 245px;
    background-color: #ffffff;
    margin-left: 41px;
    margin-top: -162px;
    border-radius: 20px;
}
.leadingDriverimg{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    display: flex;
    height: 158px;
}
.leadingDriverimg img{
    margin-left: -43px;
    margin-top: -83px;

}
.leadingDrivercontant{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    height: 97px;
    background-color: #38383F;
}
.leadingDriverName{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
}
.leadingDriverName img{
    margin-left: 11px;
    width: 21px;
    height: 15px;
    border-radius: 5px;
    margin-top: 12px;

}
.leadingDriverName p{
    font-family: f1Regular;
    font-size: 14px;
    color: white;
    margin-left: 25px;
    margin-top: 11px;

}
.leadingDriverLastName p{
    font-family: f1Bold;
    font-size: 21px;
    color: white;
    margin-left: 24px;

}

.driversscoreMaincontainer{
    width: 100%;
    height: 78vh;
    background-color: #F3F3F3;
    display: flex;
    justify-content: center;
}

.driversScoreContainer{
    width: 70%;
    height: 76vh;
    margin-left: 41px;
}
.driverScore{
    cursor: pointer;
    width: 100%;
    height: 50px;
    background-color: rgb(58, 44, 44);
    margin-top: 2px;
    border-radius: 11px;
    display: flex;
    align-items: center;
}
.driverScoreLeft{
    width: 86%;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    background-color: #ffffff;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    transition: all 0.3s;
}
.driverScore:hover .driverScoreLeft{
    background-color: #3A3A41

}

.driverScoreLeft h1{
 font-family: f1Bold;
 font-size: 14px;
 margin-left: 25px;
 color: #000;
}
.scoreLine{
    width: 5px;
    height: 15px;
    background-color: #858080;
    margin-left: 15px;
}
.driverScoreLeft p{
    font-family: f1Regular;
    font-size: 14px;
    margin-left: 15px;
    color: #000;
}
.driverScore:hover .driverScoreLeft p,
.driverScore:hover .driverScoreLeft h1,
.driverScore:hover .driverScoreLeft h2 {
    color: white;
}

.driverScoreLeft h2{
    font-family: f1Bold;
    font-size: 14px;
    margin-left: 6px;
    color: #000;
}
.driverScoreLeft h6{
    font-family: f1Regular;
    font-weight: 100;
    font-size: 9px;
    letter-spacing: 2px;
    margin-left: 19px;
    color: #9f8a8a;

}
.driverScoreRight{
    width: 15%;
    height: 100%;
    background-color: #ffffff;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    display: flex;
    align-items: center;
    transition: all 0.3s;

}
.driverScore:hover .driverScoreRight{
    background-color: #3A3A41

}
.driverScorepts{
    display: flex;
    align-items: center;
    width: 65px;
    height: 20px;
    background-color: rgba(215, 211, 211, 0.87);
    margin-left: 28px;
    justify-content: center;
    border-radius: 21px;
}
.driverScorepts p{
    font-family: f1Regular;
    font-weight: 100;
    font-size: 11px;

}
.driverScoreRight span{
    font-family: f1Regular;
    font-size: 16px;
    color: red;
    margin-left: 11px;

}

.viewfullstandings{
    width: 100%;
    height: 19vh;
    background-color: #F3F3F3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.viewFullStandingsbtn{
    width: 185px;
    height: 37px;
    background-color: #E10600;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: f1Regular;
    font-size: 11px;
    border: 2px solid #E10600;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: -19px;
}
.viewFullStandingsbtn span{
    margin-left: 11px;
    font-family: f1Bold;

}
.viewFullStandingsbtn:hover{
    color: black;
    background-color: white;
}
.f1SubscribtionsMainContainer{
    width: 100%;
    height: 51vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f1Subscribtion1{
    width: 23%;
    height: 88%;
    background-color: #15151E;
    margin-left: 21px;
    background-image: url(assests/image\ \(15\).jpg);
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 11px;
    cursor: pointer;
    border-bottom-left-radius: 11px;
}
.f1Subscribtion2{
    width: 26%;
    height: 90%;
    background-color: #15151E;
    margin-left: 21px;
    background-image: url(assests/subscription2.jpg);
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.f1Subscribtion3{
    width: 22%;
    height: 89%;
    background-color: #15151E;
    margin-left: 21px;
    background-image: url(assests/subscription3.jpg);
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
}
.f1Subscribtionn{
    width: 89%;
    height:80%;
    background-color: white;
    border-top-right-radius: 16px;
}
.f1Subscribtionnn1{
    width: 99.4%;
    height:99.1%;
    margin-top: 1.9px;
    background-image: url(assests/image\ \(15\).jpg);
    background-size: 110% 110%;
    object-fit: cover;
    border-top-right-radius: 16px;
    display: flex;
}
.f1Subscribtionnn2{
    width: 99.4%;
    height:99.1%;
    margin-top: 1.9px;
    background-image: url(assests/subscription2.jpg);
    background-size: 110% 110%;
    object-fit: cover;
    border-top-right-radius: 16px;
    display: flex;
}
.f1Subscribtionnn3{
    width: 99.4%;
    height:99.1%;
    margin-top: 1.9px;
    background-image: url(assests/subscription3.jpg);
    background-size: 110% 110%;
    object-fit: cover;
    border-top-right-radius: 16px;
    display: flex;
}
.f1Subscribtionn2{
    width: 96%;
    height:93%;
    margin-top: 11.8px;
    background-image: url(assests/white-stripe.png);
    background-size: 5% 5%;
    border-top-right-radius: 16px;
}
.f1Subscribtiontitle{
    width: 100%;
    height: 60%;
    font-family: f1Bold;
    font-weight: 200;
    color: white;
    font-size: 25px;
    margin-top: 11px;
    margin-left: 5px;
}
.f1subscribtionbtn{
    width: 110px;
    height: 19%;
    color: white;
    background-color: #E10600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    border-radius: 4px;
    font-size: 11px;
    font-family: f1Regular;

}

.exploreF1topicsMainContainer{
    width: 100%;
    height: 105vh;
    background-color: #38383F;
    display: flex;
    align-items: center;
    justify-content: center;
}
.exploreF1TopicsContainer{
    width: 79%;
    height: 90%;
    background: #15151E;
    border-top-right-radius: 25px;
}
.exploreF1TopicsContainer1{
    width: 99%;
    height: 98.7%;
    background: #38383F;
    border-top-right-radius: 20px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;     

}
.exploreF1TopicsContainertitle{
    width: calc(30% - 8px);
    height: 32px;
    background-color: #38383F;
    display: flex;
    margin-top: -19px;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: f1Bold;
    font-size: 19px;

}
.exploreF1TopicsContainertitle1{
    width: calc(70% - 8px);
    height: 32px;
    display: flex;
    margin-top: -19px;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: f1Bold;
    font-size: 26px;

}
.exploreF1TopicsContainer2{
    width: 100%;
    height: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
}

.exploreF1Topiccss{
    width: 45%;
    height: 45%;
    margin-left: 14px;
    margin-top: 11px;
    overflow: hidden;
    cursor: pointer;
    border-top-right-radius: 21px;

}
.exploreF1Topiccss img{
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    border-top-right-radius: 21px;
}

.exploreF1Topiccss:hover img{
    transform: scale(1.1);
    filter: brightness(0.5);
    
}
.exploreF1Topiccss:hover .exploreF1Topiccsstitle p{
    color: white;
} 

.exploreF1Topiccsstitle {
    display: flex;
    margin-top: -26%;
    margin-left: 40%;
    font-family: f1Bold;
    position: relative;
    color: rgba(255, 255, 255, 0.884);
}
.explorehoverefx{
    width: 100%;
    height: 13px;
    margin-top: 19%;
    color: #000;
    background-image: url(assests/gray3-x1.png);
    position: relative;
}
.bline{
    width: 100%;
    height: 2.3px;
    background-color: #000;
}
.appsMainContainer{
    width: 100%;
    height: 11vh;
    background-color: #38383F;
 display: flex;
}
.appsLeft{
    align-self: center;
    justify-content: center;
    display: flex;
    width: 50%;
    height: 100%;
}
.leftappdown{
    margin-top: 9px;
    width: 110px;
    height: 70%;
    color: white;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: f1Regular;
}

.downplay{
    margin-top: 9px;
    width: 110px;
    height: 70%;
    cursor: pointer;
    margin-left: 11px;
}
.downplay svg{
    width: 100%;
    height: 100%;
}

.appsRight{
    display: flex;
    align-self: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}
.socialmedias1{
    width: 41px;
    height: 65%;
    border: 1px solid black;
    margin-top: 9px;
    border-radius: 7px;
    margin-left: 11px;
    cursor: pointer;
}
.socialmedias1 svg{
    width: 37%;
    margin-top: 8px;
    margin-left: 13px;

}
.socialmedias2{
    width: 41px;
    height: 65%;
    border: 1px solid black;
    margin-top: 9px;
    border-radius: 7px;
    margin-left: 11px;
    cursor: pointer;
}
.socialmedias2 svg{
    width: 49%;
    margin-top: 8px;
    margin-left: 10px;

}
.footerMainContainer{
    width: 100%;
    height: 141vh;
    background: #15151E;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footerContainer{
    width: 70%;
    height: 85%;
}
.footerPatners{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #15151E;
}
.footerPatners img{
    width: 10%;
}
.footerPatners p{
    font-family: f1Bold;
    font-size: 18px;
    color: white;
}
.footerContiner1{
    width: 100%;
    height: 68vh;
    background-color: #38383F;
    border-bottom-right-radius: 31px;
    display: flex;
}
.footerContiner2{
    width: 99%;
    height: 97.4%;
    background-color: #15151E;
    border-bottom-right-radius: 31px;
    display: flex;
}
.footerinnerContainer{
    width: 20%;
    height: 100%;
    margin-left: 2px;
    border-bottom-right-radius: 31px;

}
.hoverrr {
    margin-top: 11px;
    color: white;
    font-family: f1Regular;
    font-weight: 100;
    font-size: 13px;
    cursor: pointer;
    border-bottom: 2px solid transparent; 
    transition: border-bottom-color 0.3s ease; 
}
.hoverrr:hover {
    border-bottom-color: rgba(255, 0, 0, 0.703); 
}



.footerMainelementsContainer{
    width: 100%;
    height: 22vh;
}


.footerElements{
    width: 80%;
    height: 100%;
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
}

.hoverrr1 {
    color: rgb(255, 255, 255);
    font-family: f1Regular;
    font-weight: 100;
    font-size: 9px;
    height: 19px;
    cursor: pointer;
    border-bottom: 2px solid transparent; 
    transition: border-bottom-color 0.3s ease; 
}
.hoverrr1:hover {
    border-bottom-color: rgba(255, 0, 0, 0.703); 
}

.hoverrr1 {
    margin-left: 11px;
}

.hrline{
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.703);

}
.footercopyright{
    width: 100%;
    display: flex;
    height: 11vh;

}
.copyrightleft{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
}
.copyrightleft img{
    width: 20%;
    margin-left: 15px;
}
.copyrightRight{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    color: white;
}
.copyrightRight p{
font-family: f1Regular;
font-size: 7px;

}